body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(45deg, #C33764, #1D2671); */
    background: linear-gradient(45deg, #649173, #DBD5A4);
    background-size: fill;
}

#container{
    height: 100.5vh;
    width: 100%;
    display: flex;
}

#profile{
    border: solid;
    border-radius: 12px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


}

#image{
    border: solid;
    border-radius: 60px;
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
}

#data{
    border: solid;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    height: max-content;
    width: 100%;
    margin-left: 10px;
    display: grid;
    text-align: center;
}

.about{
    border: solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 13px;
}

#About{
    margin-top: 10px;
}

img{
    border-radius: 60px;
}